
.twitter-logo {
  border-radius: 50px;
  background-color: #00AAF4;
  width: 58px;
  height: 58px;
  /*cursor: pointer;*/
}

.twitter-logo > img {
  width: 38px;
  margin-top: 10px;
}

.twitter-button {
  text-align: center;
  background-color: #00AAF4;
  color: #FFF;
  border-radius: 18px;
  margin-top: 20px;
  padding-top: 9px;
  height: 40px;
  font-size: 18px;
  cursor: pointer;
}

.twitter-button:hover {
  opacity: 0.8;
}
