
.twitter-logo {
  border-radius: 50px;
  background-color: #00AAF4;
  width: 58px;
  height: 58px;
  cursor: pointer;
  text-align: center;
}

.twitter-logo > img {
  width: 38px;
  margin-top: 10px;
}

.twitter-button {
  text-align: center;
  background-color: #00AAF4;
  color: #FFF;
  border-radius: 18px;
  margin-top: 20px;
  padding-top: 9px;
  height: 40px;
  font-size: 18px;
  cursor: pointer;
}

.twitter-button:hover {
  opacity: 0.8;
}

.name {
  font-size: 20px;
}

.account {
  font-size: 14px;
  font-weight: 300;
  color: grey;
}

.email {
  font-size: 14px;
  font-weight: 300;
  color: grey;
}

.bio {
  font-size: 14px;
  font-weight: 300;
}

@media only screen and (max-width: 48em) {
  .bio {
    margin-top: 20px;
  }
}
