
/* gris oscuro 3A363D*/
/* gris claro 4F4D53*/
/* celeste 65C3CB  62C0CD*/
/*celeste encabezados 55C5D5 */

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-header {
  height: 48px !important;
  background-color: #3A363D;
  color: #fff;
  margin-bottom: 40px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/*.App-logout-container {
  text-align: right;
  width: 100%
}*/

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
